<script id="confirm-dialog-template" type="text/html">
    <div class="overlay"></div>
    <div class="popup popup-l">
        <div class="popup-head">
            <div class="popup-close mdi mdi-close c-close-dialog"></div>
            Внимание!
        </div>
        <div class="popup-body">
            <div>Продолжить?</div>
        </div>
        <div class="popup-footer">
            <button class="c-close-dialog">Отмена</button>
            <button class="btn-green c-accept">Ок</button>
        </div>
    </div>
</script>